<div class="container col-lg-3">
  <form (submit)="llamar()">
    <div class="form-group text-center">

      <p><strong>Bievenido Estudiante</strong>
      </p>
    </div>
    <div class="form-group">
      <label>Nombre :</label>
      <input class="form-control" type="text" name="nombre" placeholder="cedula" [(ngModel)]="nombre">
    </div>
    <div class="form-group">
      <label>Correo :</label>
      <input class="form-control" type="text" name="correo" placeholder="correo@ucentral.edu.co" [(ngModel)]="correo">
    </div>
    <input type="submit" name="accion" value="Verificar"/>
  </form>
</div>
