<div class="container col-lg-3">

    <div class="form-group text-center">

      <p><strong>Bievenido</strong>
      </p>
    </div>
    <div class="form-group">
      <label>Nombre :</label>
      <input class="form-control" type="text" name="nombre" placeholder="usuario" [(ngModel)]="dato.nombre">
    </div>
  <div class="form-group">
    <label>Correo :</label>
    <input class="form-control" type="text" name="correo" placeholder="correo" [(ngModel)]="dato.correo">
  </div>
  <div class="form-group">
    <label>Clave :</label>
    <input class="form-control" type="text" name="clave" placeholder="clave" [(ngModel)]="dato.clave">
  </div>
  <button type="button" class="btn btn-primary" (click)="salir()">Salir</button>


</div>
